* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-template-rows: 2fr 1fr 12fr 1fr;
  height: 100vh;
  text-align: center;
  gap: 0.5%;
  margin: 0; 
  padding: 0; 
  overflow: hidden;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  display: grid;
  justify-items: flex-start;
  align-content: center;
  grid-column: 1 / 4;
  grid-template-columns: 1fr 2fr;
  background-color: #393f4d;
}

.menu {
  display: grid;
  align-content: center;
}

.menu ul {
  display: grid;
  width: 70vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 16px;
}

.menu li {
  display: grid;
}

.sidebar {
  display: grid;
  text-align: center;
  gap: 3%;
  grid-row: 2 / 4; 
  background-color: #C50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.photo {
  display: grid;
  place-items: center;
}

.sidebar .side-content {
  display: grid;
  place-items: center;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  display: grid;
  grid-column: 2 / 4;
  align-items: center;
  background-color: #C50208;
}

.nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 16px;
  text-transform: uppercase;
}

.nav li {
  display: grid;
}

.article {
  display: grid;
  grid-column: 2 / 4;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  gap: 1%;
  background-color: #bccbde;
}

.article p {
  margin-bottom: 4%;
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  display: grid;
  align-content: center;
  grid-column: 1 / 4; 
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}